<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The Griffin Group - Real Estate Investment Banking</title>
		<!-- Meta Description -->
        <meta name="description" content="The Griffin is a full service Real Estate Investment Banking firm, headquartered in Naples, Florida. Griffin has positioned itself to successfully advise clients regarding equity, preferred equity, JV, mezzanine and senior financing, maximizing client objectives.">
        <meta name="keywords" content="Real Estate Banking, Investment Banking">
        <meta name="author" content="Howard Taylor">

		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS
		================================================== -->

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery.fancybox.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/griffin-custom.css">

		<!-- Modernizer Script for old Browsers -->
        <script src="{{ site.baseurl }}/assets/js/modernizr-2.6.2.min.js"></script>

    </head>
