---
layout: default
title: Griffin Group Commercial & Multi-Family Real Estate Investment Banking
description: "Banking blog"
---



<section style="padding-top: 80px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>

        <h1 style="text-align: center;">The Griffin Investment Insight</h1>
        <p style="text-align: center; padding-left: 30px; padding-right: 30px;">The Griffin Investment Insight blog is an invaluable source for financial advice, news, and predictions. We believe that the sharing of knowledge benifits everyone. To that end, we have created this blog in order to share our insight into the Commercial and Multi-family Real Estate Investment Banking industry.</p>

          <ul  class="g-post-list">
            {% for post in paginator.posts %}
              <li>
                <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
                <span class="g-date">{{ post.date | date: '%B %d, %Y' }} • Author: <strong>{{ post.author }}</strong></span>
                {{ post.excerpt }}
              </li>
            {% endfor %}
          </ul>

          <!-- Pagination links -->
          <div class="g-pagination">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="previous">
                Previous
              </a>
            {% else %}
              <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">
              Page: {{ paginator.page }} of {{ paginator.total_pages }}
            </span>
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
              <span class="next ">Next</span>
            {% endif %}
          </div>


</div>
</div>
</div>
</div>
</section>
