---
layout: default
title: Griffin Group Commercial & Multi-Family Real Estate Investment Banking
description: "Banking blog"
---



<section style="padding-top: 110px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>

        <h1 style="text-align: center;">The Griffin Insight</h1>
        <p style="text-align: center; padding-left: 30px; padding-right: 30px;">The Griffin Insight blog is an invaluable source for advice, news, and predictions. We believe that the sharing of knowledge benefits everyone. To that end, we have created this blog to share our insight into the Commercial and Multi-family Real Estate Investment Banking industry.</p>

          <ul  class="g-post-list">
            {% for post in paginator.posts %}
              <li>
                <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
                <span class="g-date">{{ post.date | date: '%B %d, %Y' }} • Author: <strong>{{ post.author }}</strong></span>
                {{ post.excerpt }}

                <a class="btn btn-primary" href="{{site.baseurl}}{{ post.url }}" role="button" title="Read more about {{ post.title }}">Read More...</a>
              </li>
            {% endfor %}
          </ul>

          <!-- Pagination links -->
          <div class="g-pagination">
            {% if paginator.previous_page %}
              <a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous">
                Previous
              </a>
            {% else %}
              <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">
              Page: {{ paginator.page }} of {{ paginator.total_pages }}
            </span>
            {% if paginator.next_page %}
              <a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
              <span class="next ">Next</span>
            {% endif %}
          </div>


</div>
</div>
</div>
</div>
</section>
